@import "tailwindcss";

/* Enable smooth scrolling everywhere */
html {
  scroll-behavior: smooth;
}

/* Light mode defaults */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global body styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
